@model SshKeysDto
<util-layout flex="70%" x-align="Center">
    <util-card>
        <util-card-header>
            <util-icon font-awesome-icon="AddressCardO" style="margin-right: 10px;"></util-icon>
            
        </util-card-header>
        <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="UserID"></label>: <util-label for="UserID"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="KeyType"></label>: <util-label for="KeyType"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Fingerprint"></label>: <util-label for="Fingerprint"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="PublicKey"></label>: <util-label for="PublicKey"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="ImportData"></label>: <util-label for="ImportData"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="LastUse"></label>: <util-label for="LastUse"/>
                </util-layout>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
        </util-card-actions>
    </util-card>
</util-layout>