@model DCRepositoriesDto
<util-layout flex="70%" x-align="Center">
    <util-card>
        <util-card-header>
            <util-icon font-awesome-icon="AddressCardO" style="margin-right: 10px;"></util-icon>
            仓库表
        </util-card-header>
        <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="DefaultBranch"></label>: <util-label for="DefaultBranch"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Description"></label>: <util-label for="Description"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="IsMirror"></label>: <util-label for="IsMirror"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="IsPrivate"></label>: <util-label for="IsPrivate"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>: <util-label for="Name"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="NumIssues"></label>: <util-label for="NumIssues"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="NumOpenIssues"></label>: <util-label for="NumOpenIssues"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="NumOpenPulls"></label>: <util-label for="NumOpenPulls"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="NumPulls"></label>: <util-label for="NumPulls"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Size"></label>: <util-label for="Size"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="UserID"></label>: <util-label for="UserID"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="UserName"></label>: <util-label for="UserName"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="CreationTime"></label>: <util-label for="CreationTime"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="LastModifiTime"></label>: <util-label for="LastModifiTime"/>
                </util-layout>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
        </util-card-actions>
    </util-card>
</util-layout>