@model UserRepositoryRoleDto
<util-layout flex="70%" x-align="Center">
    <util-card>
        <util-card-header>
            <util-icon font-awesome-icon="AddressCardO" style="margin-right: 10px;"></util-icon>
            
        </util-card-header>
        <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="UserID"></label>: <util-label for="UserID"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="RepositoryID"></label>: <util-label for="RepositoryID"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="AllowRead"></label>: <util-label for="AllowRead"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="AllowWrite"></label>: <util-label for="AllowWrite"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="IsOwner"></label>: <util-label for="IsOwner"/>
                </util-layout>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
        </util-card-actions>
    </util-card>
</util-layout>